# Node dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env
.env.local

# Build output
client/build/
server/dist/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Uploads
server/uploads/

# Admin build output
server/public/

# React build outputs
client/dist/

#Change log
CHANGELOG.md

tickets_fixed.jsonl
visor_faqs.json